@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';

*{
	margin:0;
	padding:0;
	list-style-type: none;
	box-sizing:border-box;
}




.color2 { background-color: rgba(242, 99, 111, 1); }
.color4 { background-color: rgba(191, 3, 38, 1); }
.color1 {background-color: rgb(216, 186, 203); }
.color3 {background-color: rgba(175, 212, 216, 1); }
.color0 {background-color: rgba(3, 165, 106, 1); }

body{
	font-family: 'Montserrat', sans-serif;
}



/*stacking views*/
.app{
	margin:auto;
	position: relative;
}


.card.project {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0em;
    flex: 0 0 25%;
    margin-left: 1em;
	margin-top: 1em;
	max-height: 30em;
}

.icecreamimage {
    bottom: 0;
    position: fixed;
    right: 0;
	margin-right:1em;
}

.addIcecream img {
	width: 4em;
	
}


.view{
	min-height: 100vh;
	display: none !important;
}

i {
	cursor:pointer;
}

.active{
	display: flex !important;
}


/*layout in each view*/
.view{
	display: flex;
	flex-direction:column;

}

.header{
	text-align: right;
	padding:1em;
	height: 8em;
	align-items: center;
	background-color: #333;
	color:white;
	transition: ease-in;
	text-align: center;
	display:flex;
	justify-content: space-between;
}

.navbar {
    top: 1em;
}

.navadd {
    display: flex;
    flex-direction: row;
    width: 6em;
    padding: 0;
    height: 3.9em;
}

.main {
    flex: 1 0 auto;
    padding: 0em;
	display: flex;
	margin: 1em;
 
}

/*nav*/

.menu a{
	display: block;
	padding:1em;
	border-bottom:thin #ccc dotted;
	color:black;
}

/*header */
.header i {
    margin-left: 0em;
    cursor: pointer;
    font-size: 2em;
    color: #da9053;
}


/*projects*/
.project{
	margin-bottom: 1em;
	background-color: rgba(216, 186, 203, 1);
}

.project i{
  margin-right:1em;
}

.fa-window-close {
	font-size:1.2em;
}

.card {
	background-color: rgba(175, 212, 216, 1);
}

@media only screen and (max-width: 800px) {
	.main {
		flex-direction: column;
	}

	.card.project {
		margin: 1em;	
		max-height: initial;
	}

  }